<div class="footer-menu">
    <a href="/policy/">网站政策</a> · 
    <a href="/links/">友情链接</a> · 
    <a href={{ 'https://github.com/' + config.github.repository + '/new/'+config.github.branch + '/hexo/source/_posts' }}>新建文章</a>
</div>



<div style="position: fixed; bottom: 1px; right: 1px;">
    <div id="musicplayer" >
    </div>
</div>
